@font-face {
    font-family: "Chikarayowaku";
    src: url("../assets/fonts/851-Chikarayowaku.ttf") format(truetype);
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(237, 234, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Chikarayowaku";
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 75%;
    overflow: hidden;
    border-radius: 50px;
    border: #ed7a38 solid 2px;
        
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


.raden-container {
    margin: auto;
    height: 50vh;

    position:absolute;
    margin-top: 2em;
}

.raden-image {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
    z-index: 999;
    outline-style: none;
}

.raden-spin-animation {
    -webkit-animation: spin 0.3s linear infinite;
    animation: spin 0.3s linear infinite;
}

.raden-image:hover {
    cursor: pointer ;
}

.text-container {
    position:absolute;
    margin: auto;
    z-index: -1;
    height: 60vh;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.text-container::before {
    content: ""; /* Required to display the pseudo-element */
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit; 
    filter: blur(5px); 
    z-index: -1; 
}

.text-el {
    font-family: "Chikarayowaku";
    font-size: 5em;
    font-weight: 500;
    line-height: 1em;
    color: #72462c;

    text-shadow: 
        -2px -2px 0 #e9d1c3,  
        2px -2px 0 #e9d1c3,
        -2px 2px 0 #e9d1c3,
        2px 2px 0 #e9d1c3,
        0 0 5px #e9d1c3;
}

.spiral-img {
    z-index: -999;
    width: 100vw;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/*spinning animation */
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.small-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
    .small-text a, span {
        color: #ed7a38;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 1.2em;
        
    }
        .small-text a img {
            object-fit: contain;
            margin: auto;
            margin-left: 0;
            height: 1.2em;
            filter: invert(67%) sepia(36%) saturate(5964%) hue-rotate(340deg) brightness(101%) contrast(86%);
            -webkit-filter: invert(67%) sepia(36%) saturate(5964%) hue-rotate(340deg) brightness(101%) contrast(86%);
            margin-right: 0.5em;
        }

        .last-small-text {
            justify-content: end;
        }


    .small-text div {
        display: flex;
        width: 200px;
    }

.click-counter-text {
    text-align: center;
}

.about-modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    min-width: 17em;
    padding: 1em;
    overflow: hidden;
    border-radius: 36px;
    border: #ed7a38 solid 2px;
    background-color: rgba(255, 255, 255, 0.808);

    backdrop-filter: blur(10px);
    display: none;
        
}

    .about-modal span {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        color: #ed7a38;
    }

    .about-modal span a {
        color: #ed7a38;
    }

    .close-modal {
        margin-top: 3em;
        bottom: 0;
    }

    .close-modal:hover {
        cursor: pointer;
        color: #fa975e;
    }


@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }

    .container {
        height: 80%;
        width: 85%;
        overflow: hidden;
    }

    .spiral-img {
        z-index: -999;
        width: 100vh;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    .raden-container {
        margin: auto;
        height: 50vh;
        width: auto;
        position:absolute;
        margin-top: 2em;
    }


    .youtube-link {
        display: none !important;
    }

}
